<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <%- include('partials/header') %>  
  </header>
  <main>
    <h4>Search Results</h4>
    <% searchResults.forEach( book => { %>
      <section class="book-info">
        <% console.log('book: ', book); %>
        <%- include('partials/detail', {book: book}) %>
        <button class="edit-button">Select this book</button>
        <section class="hide-me">
          <%- include('partials/form', {formAction: 'add', book: book, shelves: shelves}) %>
        </section>
      </section>
    <% }) %>

  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html> 