<!DOCTYPE html>
<html>
    <head>
        <%- include('../layout/head') %>
    </head>
    <body>
        <header>
          <%- include('layout/header') %>
        </header>
        <main>
          <a href="/search">Search</a>
          <a href="/add">Add a Book</a>
          <h4>Books in list: <%= searchResults.rows.length %></h4>
            <% searchResults.rows.forEach( book => { %>
                  <section class="book-info">
                    <%- include('books/detail', {book: book}) %>
                    <button><a href='/book/<%= book.id %>'>View details</a></button>
                  </section>
                <% }) %>
              </main>
              <footer>
                <%- include('layout/footer') %>
              </footer>
            </body>
</html>